* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #3a3a3a;
    background-image: url(assets/jonathan-tesmaye-salvador-V0z1xRcD7GA-unsplash.jpg);
    /*background-image: url(assets/andre-costa-N_w8L_b1sbU-unsplash.jpg);
    background-image: url(assets/annie-spratt-6a3nqQ1YwBw-unsplash.jpg);*/
    background-position: center;
    background-size: cover;

}

.container {
    display: flex;
    gap: 60px;
    padding: 50px;
    min-height: 100vh;
}

.left {
    width: 38%;
}

.photo {
    margin-top: 20px;

    img {
        width: 70%;
        display: block;
        border-radius: 20px;
        box-shadow: 0 20px 50px rgb(0, 0, 0);
    }
}

.right {
    width: 62%;
}

.section-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
    font-size: 14px;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: bold;
    opacity: 0.85;

    .small {
        margin-top: 60px;
        margin-bottom: 20px;
    }
}

.line {
    flex: 2;
    height: 6px;
    background-color: #e1fd24;
    opacity: 1;
}

h1 {
    font-size: 64px;
    font-weight: normal;
    line-height: 1.1;
    margin-bottom: 40px;
    color: #ffffff;
    opacity: 0.85;
}

p {
    max-width: 600px;
    font-size: 16px;
    line-height: 1.7;
    color: #ffffff;
    opacity: 0.85;
}
